<header>
  <h1>
    This is the KeyForge Deck Stats Dashboard.
  </h1>
  <h2>
    This is with Rails <%= Rails.version %> </h2>
  </header>
  <section>
    <p>
    Deck info etc will go here.
    </p>
  </section>
